header>nav {
	float: right
}

.center {
	position: relative;
	margin: 0 auto;
	top: 50px;
	margin-bottom: -50px;
	background: lightblue;
	width: 500px;
	height: 500px
}

.center>section {
	float: left
}

.center>aside {
	float: right
}

section, aside {
	border: 1px solid #000
}