@topbarHeight: 50px;
@topbarBackground: orange;
@footerHeight: 50px;
@footerBackground: orange;
@mainBackground: #369;
* {
  margin: 0;
}

html , body {
  height: 100%;
  background: @mainBackground;
}

header {
  height: @topbarHeight;
  background: @topbarBackground;
}

main {
  min-height: 100%;
  margin-top: -@topbarHeight;
  margin-bottom: -@footerHeight;
  display:block; /* only ie */
}

main:after {
  content: "";
  display: block;
}

footer , .page:after {
  height: @footerHeight;
}

footer {
  background: @footerBackground;
}

