/* vars */
@topbarHeight: 50px;
@topbarBackground: orange;
@footerHeight: 50px;
@footerBackground: orange;
@mainBackground: #369;
@fullHeight : 100%;


/* vars */

* {
  margin: 0;
  padding: 0;
}

html , body {
  height: @fullHeight;
}

#wrap {
  height: @fullHeight;
  margin-top: @topbarHeight;
}

#main {
  background: @mainBackground;
  width: @fullHeight;
  margin: 0 auto;
  height: 100vh;
}

#header {
  margin-bottom: -2 * @topbarHeight;
  height: @topbarHeight;
  background: @topbarBackground;
}

#wrap-header {
  position: relative;
  margin-bottom: -2 * @topbarHeight;
  height: @topbarHeight;
  background: @topbarBackground;
  z-index: 999;
}

#footer {
  margin-top: -@footerHeight;
  height: @footerHeight;
  background: @footerBackground;
}

