* {
	margin: 0;
	padding: 0
}

html, body {
	height: 100%;
	background: #369
}

header {
	height: 50px;
	background: orange
}

main {
	min-height: 100%;
	margin-top: -50px;
	margin-bottom: -50px;
	display: block
}

main:after {
	content: "";
	display: block
}

footer, main:after {
	height: 50px
}

footer {
	background: orange
}